{% extends 'base.html' %}

{% block title %}Bill of material{% endblock %}



{% block body %}
<div class="card bg-dark text-white" style="max-width: 1600px;">
  <img src="https://cdn.shopify.com/s/files/1/1150/2764/files/Cotton-fabric-Banner.jpg?v=1672228527&width=1400" class="card-img" alt="Stony Beach"/>
  <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
    <h1 class="card-title">COTTON FABRICS</h1>
    <p class="card-text">
      REASONABLE PRICES
    </p>
  </div>
</div>

<br>
<h1>Based On
    Printing Techniques
    Fabriclore's Cotton fabric collection is synonymous with long-lasting quality and comfort.
    Featuring a multi-hued collection of traditional Cotton fabrics, in a choice of printing techniques.</h1>
</br>


{% endblock %}