{% extends 'base.html' %}

{% block title %}making{% endblock %}



{% block body %}


<div class="card bg-dark text-white" style="max-width: 1600px;">
  <img src="https://cdn.shopify.com/s/files/1/1950/2653/collections/Large_0348585_360x.jpg?v=1656310958" class="card-img" alt="Stony Beach"/>
  <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
    <h1 class="card-title">NET FABRICS</h1>
    <p class="card-text">
      REASONABLE PRICES
    </p>
  </div>
</div>


{% endblock %}