
{% extends 'base.html' %}

{% block title %}materials{% endblock %}



{% block body %}


<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
             <img class="card-img-top" src="https://www.textileinfomedia.com/images/subcategory/fancy-fabric.jpg" alt="Card image cap" height="300">
          <h5 class="card-title">FANCY FABRIC</h5>
        <a href="vendor_list" class="btn btn-primary">Purchase</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
             <img class="card-img-top" src="https://www.textileinfomedia.com/images/subcategory/cotton-fabric.jpg" alt="Card image cap" height="300">
        <h5 class="card-title">COTTON FABRIC</h5>
        <a href="bom" class="btn btn-primary">Purchase</a>
      </div>
    </div>
  </div>

<br>




  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
             <img class="card-img-top" src="https://www.textileinfomedia.com/images/subcategory/printed-fabric.jpg" alt="Card image cap" height="300">
        <h5 class="card-title">PRINTED FABRIC</h5>
        <a href="warehouse" class="btn btn-primary">Purchase</a>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
             <img class="card-img-top" src="https://www.textileinfomedia.com/images/subcategory/net-fabric.jpg" alt="Card image cap" height="300">
        <h5 class="card-title">NET FABRIC</h5>
        <a href="cart" class="btn btn-primary">Purchase</a>
      </div>
    </div>
  </div>
    <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
             <img class="card-img-top" src="https://www.textileinfomedia.com/images/subcategory/indo-fabric.jpg" alt="Card image cap" height="300">
        <h5 class="card-title">INDO FABRIC</h5>
        <a href="cart" class="btn btn-primary">Purchase</a>
      </div>
    </div>
  </div>  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
             <img class="card-img-top" src="https://www.textileinfomedia.com/images/subcategory/georgette-fabric.jpg" alt="Card image cap" height="300">
        <h5 class="card-title">GEORGETTE FABRIC</h5>
        <a href="cart" class="btn btn-primary">Purchase</a>
      </div>
    </div>
  </div>  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
             <img class="card-img-top" src="https://www.textileinfomedia.com/images/subcategory/satin-fabric.jpg" alt="Card image cap" height="300">
        <h5 class="card-title">SATIN FABRIC</h5>
        <a href="cart" class="btn btn-primary">Purchase</a>
      </div>
    </div>
  </div>  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
             <img class="card-img-top" src="https://www.textileinfomedia.com/images/subcategory/velvet-fabric.jpg" alt="Card image cap" height="300">
        <h5 class="card-title">SATIN FABRIC</h5>
        <a href="cart" class="btn btn-primary">Purchase</a>
      </div>
    </div>
  </div>




</div>
<br>


{% endblock %}