{% extends 'base.html' %}

{% block title %}Return{% endblock %}



{% block body %}

<br>

<div class="row mx-md-n5">
  <div class="col px-md-5">
      <div class="p-3 border bg-light"><h2>Generic Refund Policy for Physical Products</h2>
<p>Thanks for purchasing our products at [website] operated by [name].</p>
<p>In order to be eligible for a refund, you have to return the product within 30 calendar days of
your purchase. The product must be in the same condition that you receive it and undamaged in
any way.</p>
<p>After we receive your item, our team of professionals will inspect it and process your refund. The
money will be refunded to the original payment method you’ve used during the purchase. For
credit card payments it may take 5 to 10 business days for a refund to show up on your credit
card statement.</p>
<p>If the product is damaged in any way, or you have initiated the return after 30 calendar days
have passed, you will not be eligible for a refund. </p>
<p>If anything is unclear or you have more questions feel free to contact our customer support
team.</p></div></div>


  <div class="col px-md-5">
      <div class="p-3 border bg-light"><h2>Generic Refund Policy for Digital Products</h2>
<p>Thanks for purchasing our products (or subscribing to our services) at [website] operated by
[name].</p>
<p>We offer a full money-back guarantee for all purchases made on our website. If you are not
satisfied with the product that you have purchased from us, you can get your money back no
questions asked. You are eligible for a full reimbursement within 14 calendar days of your
purchase</p>
<p>After the 14-day period you will no longer be eligible and won't be able to receive a refund. We
encourage our customers to try the product (or service) in the first two weeks after their
purchase to ensure it fits your needs.</p>
<p>If you have any additional questions or would like to request a refund, feel free to contact us.</p></div></div>
</div>

{% endblock %}