{% extends 'base.html' %}

{% block title %}Warehouse{% endblock %}



{% block body %}

<div class="card bg-dark text-white" style="max-width: 1600px;">
  <img src="https://cdn.shopify.com/s/files/1/1045/0044/collections/IMG_0163_1512x.jpg?v=1563847190" class="card-img" alt="Stony Beach"/>
  <div class="card-img-overlay" style="background-color: rgba(0, 0, 0, 0.3)">
    <h1 class="card-title">PRINTED FABRICS</h1>
    <p class="card-text">
      REASONABLE PRICES
    </p>
  </div>
</div>



{% endblock %}